body {background-color: antiquewhite; /*achtergrond kleur */

}

ul {
    list-style-type: none; /*bolletjes weg*/
    margin: 0; /*ruimte om rand van menu*/
    padding: 0; /*ruimte tussen beging van text en begin balkje*/
    overflow: hidden; /* verdwijnd wanneer menu te veel opties heeft*/
    background-color: #333;
  }
  
  li {
    float: left; /*het menu is links boven in de hoek*/
  }
  
  li a {
    display: block; /* met display kun je bepalen hoe de browser een eelemnt moet weergeven in dit geval een blokje*/
    color: white; /*kleur van text*/
    text-align: center; /*plek van texts in vierkantje van menu*/
    padding: 18px 21px; /* de groote van de balkje met de texts erin*/
    text-decoration: none;
  }
  h1 {              /* alle h1 aanpassen */
    border-style:double ;
    color:rgb(0, 0, 0) ;
    text-align:center ;


  }
  
  li a:hover {
    background-color: #111; /*achtergrond kleur wannner je muis erover heen staat*/
  }

  .hometekst{  /*aanpassen van classe hometekst die ik heb gekozen*/
    color: #333;  /*kleur van tekst*/
    text-align:center ;  /* tekst in het midden */
    width:70% ;
    margin: auto;
  }
.kleurmodellen{text-align: center;}
  .rgbr{ color:red;}
  .rgbg{color: green;}
  .rgbb{color:blue ;}

  .CMYc{color: cyan;}
  .CMYm{color: magenta;}
  .CMYy{color:rgb(222, 222, 23) ;}