body {background-color: antiquewhite; /*achtergrond kleur */

}

ul {
    list-style-type: none; /*bolletjes weg*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left; /*het menu is links boven in de hoek*/
  }
  
  li a {
    display: block; /* met display kun je bepalen hoe de browser een eelemnt moet weergeven in dit geval een blokje*/
    color: white;
    text-align: center; /*plek van texts in vierkantje van menu*/
    padding: 18px 21px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111; /*achtergrond kleur wannner je muis erover heen staat*/
  }
}